<template>
  <div id="app">
    <div class="container-fluid bg-dark p-3 text-center">
      <h1 class="text-white display-4 font-weight-bold text-uppercase">
        Learning draggable
      </h1>
    </div>
    <div class="row bg-info ml-0 mr-0">
      <div class="col-3">
        <div class="progress-title text-center pb-1">
          <h2 class="bg-success m-0 pb-1">Taks/Ideas</h2>
          <p class="bg-white m-0">Add some tasks/ideas</p>
        </div>
        <template v-if="!tasks" >
          <div style="width:100%; height:400px;">
            <p class="text-center">Put here</p>
          </div>
        </template>
        <template v-else>
          <div
            v-for="(task, index) in tasks"
            :key="index"
            id="idea-1"
            class="card m-3"
            draggable
            @dragstart="dragStart($event, task)"
            @dragover.prevent
            @dragenter.prevent
            @drop="drop($event)"
          >
            <div class="card-body">
              <i class="fas fa-user-ninja"></i>
              <span class="ml-2">{{ task.name }}</span>
              <p>{{ task.startTime }}/{{ task.finalTime }}</p>
            </div>
          </div>
        </template>

      </div>
      <div class="col-3 bg-warning ">
        <div class="progress-title text-center pb-1">
          <h2 class="bg-success m-0 pb-1">In progress</h2>
          <p class="bg-white m-0">Put tasks/ideas which are in progress</p>
        </div>
        <template v-if="inProgress">
          <div
            class="card m-3 "
            v-for="(progress, index) in inProgress"
            :key="index"
            draggable
            @dragstart="dragStart($event, progress)"
            @dragover.prevent
            @dragenter.prevent
            @drop="drop($event)"
          >
          
            <div class="card-body">
              <i class="fas fa-users-cog"></i>
              <span class="ml-2">{{ progress.name }}</span>
              <p>{{ progress.startTime }}/{{ progress.finalTime }}</p>
            </div>
          </div>
        </template>
        
      </div>

      <div class="col-3 bg-secondary">
        <div class="progress-title text-center pb-1">
          <h2 class="bg-success m-0 pb-1">Needs Review</h2>
          <p class="bg-white m-0">The following needs to be checked</p>
        </div>
        <template v-if="underDiscussion">
          <div
            class="card m-3"
            v-for="(doneTask, index) in underDiscussion"
            :key="index"
            draggable
            @dragstart="dragStart($event, doneTask)"
            @dragover.prevent
            @dragenter.prevent
            @drop="drop($event)"
          >
            <div class="card-body">
              <i class="fas fa-users"></i>
              <span class="ml-2">{{ doneTask.name }}</span>
              <p>{{ doneTask.startTime }}/{{ doneTask.finalTime }}</p>
            </div>
          </div>
        </template>
      </div>

      <div class="col-3 bg-danger ">
        <div class="progress-title text-center pb-1">
          <h2 class="bg-success m-0 pb-1">Approved</h2>
          <p class="bg-white m-0">Closed tasks</p>
        </div>
        <template v-if="approvals">
          <div
            class="card m-3 "
            v-for="(appoval, index) in approvals"
            :key="index"
            draggable
            @dragstart="dragStart($event, appoval)"
            @dragover.prevent
            @dragenter.prevent
            @drop="drop($event)"
          >
            <div class="card-body">
              <i class="fas fa-user-check"></i>
              <span class="ml-2">{{ appoval.name }}</span>
              <p>{{ appoval.startTime }}/{{ appoval.finalTime }}</p>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      tasks: [
        {
          name: "To create responsive sidebar",
          startTime: "20:00",
          finalTime: "12:00"
        },
        {
          name: "TTo create responsive navbar",
          startTime: "00:00",
          finalTime: "24:00"
        },
        {
          name: "To create draggable nenu",
          startTime: "00:00",
          finalTime: "16:00"
        }
      ],
      inProgress: [
        {
          name: "To create responsive sidebar",
          startTime: "09:00",
          finalTime: "12:00"
        },
        {
          name: "Error page",
          startTime: "14:00",
          finalTime: "23:00"
        }
      ],
      underDiscussion: [
        {
          name: "Dashboard design",
          startTime: "20:30",
          finalTime: "01:00"
        }
      ],
      approvals: [
        {
          name: "Site design",
          startTime: "09:00",
          finalTime: "17:30"
        },
        {
          name: "Success message",
          startTime: "11:00",
          finalTime: "16:00"
        }
      ]
    };
  },
  methods: {
    dragStart(event, draggingItem){
      event.dataTransfer.dropEffect="move"
      event.dataTransfer.effectAllowed="move"
      event.dataTransfer.setData('draggingItemName', draggingItem.name)
      event.dataTransfer.setData('draggingItemStartTime', draggingItem.startTime)
      event.dataTransfer.setData('draggingItemFinalTime', draggingItem.finalTime)
      console.log(draggingItem)
      setTimeout(()=>{event.target.style.display='none'},0) 
    },
    drop(event){
      const droppingItemName = event.dataTransfer.getData('draggingItemName')
      const droppingItemStartTime = event.dataTransfer.getData('draggingItemStartTime')
      const droppingItemFinalTime = event.dataTransfer.getData('draggingItemFinalTime')
      console.log(droppingItemName+' in dropping zone !')
      console.log(droppingItemStartTime+' in dropping zone !')
      console.log(droppingItemFinalTime+' in dropping zone !')
      this.inProgress.push({name:droppingItemName, startTime:droppingItemStartTime, finalTime:droppingItemFinalTime})
      event.dataTransfer.clearData();
    }
  }
};
</script>
<style>
.header {
  background-color: black;
  color: aliceblue;
}
</style>
